@import url(../../../stylesheets/application.css);

#header > h1 {
    background: url('https://www.nalog.ru/css/ul/i/logo.png') 5px 3px no-repeat;
    height: 73px;
}


body {
    color: #3d454c;
    font-size: 14px;
    line-height: 1.3;
    font-family: arial, sans-serif;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}

input, select, textarea {
    font-family: arial, sans-serif;
    font-size: 12px
}

a, a:link, a:visited {
    color: #2996cc
}

#main {
    background-color: #fafafa
}

#main.nosidebar {
    background-color: #fff
}

div#content {
    margin-left: -20px;
    padding-left: 25px;
    padding-top: 15px
}

#footer {
    margin-bottom: 12px;
    padding-top: 18px;
    padding-left: 25px;
    padding-right: 25px;
    border-top: 1px solid #e0e2e3;
    color: #ced4d9
}

#footer a, #footer a:visited {
    color: #ced4d9
}

#footer a:hover {
    color: #2996cc;
    text-decoration: none
}

input[type=text].live_search_field, input[type=text].questions-search.autocomplete {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    height: 28px;
    outline: 0
}

input[type=text].questions-search.autocomplete {
    padding-left: 30px !important
}

h2 {
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px
}

#sidebar a.selected {
    background-color: #fafafa;
    color: #3d454c;
    line-height: inherit;
    padding: inherit;
    margin-left: inherit
}

#header {
    background-color: white;
    min-height: 0;
    padding: 0px;
}

#header > h1 {
    font-family: arial, sans-serif;
    text-transform: uppercase;
    line-height: 3;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 17px 10px 30px 112px;
    margin: 10px 0px 0px 10px;
    color: #0066b3;
}

#quick-search {
    margin: 40px 30px;
}

#quick-search input {
    height: 40px;
    font-size: 20px;
}

#quick-search a {
    color: #0066b3;
}

#top-menu {
    background: #0066b3;
    font-size: .9em
}

#top-menu a {
    margin-right: 15px;
    font-weight: 400;
    color: white;
}


#top-menu a:hover {
    color: #fff;
    text-decoration: none
}

#main-menu {
    left: 0;
    width: 100%;
    height: 51px;
    background-color: white;
    font-weight: 500;
    overflow: hidden;
    border-top: 2px solid #E8F0F7;
    border-bottom: 2px solid #E8F0F7;
}

#main-menu ul {
    padding: 0 15px
}

#main-menu li {
    margin: 0;
    padding: 13px 0
}

#main-menu li > a {
    color: black;
}

#main-menu li a.selected, #main-menu li a.selected:hover, #main-menu li a:hover {
    background: 0 0;
    color: #0066b3;
}

#main-menu .menu-button {
    position: absolute;
    right: 10px;
    top: 16px;
    text-indent: 66em;
    overflow: hidden;
    cursor: pointer;
    width: 24px;
    height: 16px;
    background: url(../images/menu_button.png) no-repeat;
    background-size: 16px 16px
}

#main-menu .menu-button:hover {
    background: url(../images/menu_button_hover.png) no-repeat;
    background-size: 16px 16px
}

#content h1, h2, h3, h4 {
    color: black;
}

#sidebar {
    line-height: 1.3
}

#sidebar h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 5px;
    color: black
}

#sidebar p {
    margin-top: 5px
}

#errorExplanation, .conflict, .nodata, .warning, div.flash {
    border: 0;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 18px
}

#flash_notice, div.flash.notice {
    background: #5cc512;
    color: #fff
}

#errorExplanation, div.flash.error {
    background: #e52817;
    color: #fff
}

.conflict, div.flash.warning {
    background-image: none
}

#errorExplanation ul {
    font-size: 14px
}

#login-form table {
    border: 0;
    padding: 30px
}

.wiki h1, .wiki h2, .wiki h3 {
    font-weight: 400;
    color: #000
}

.wiki h1 {
    font-size: 28px;
    margin-top: 10px
}

.wiki h2 {
    font-size: 20px
}

.wiki h3 {
    font-size: 16px
}

.wiki.wiki-page {
    color: #6A6E71
}

span.tag-label-color {
    border: 0 !important;
    padding: 4px 8px !important;
    border-radius: 20px !important;
    line-height: 13px
}

span.tag-label-color:hover {
    opacity: .7
}

.tagit-new .ui-autocomplete-input {
    box-shadow: none
}

.tagit-close .text-icon {
    top: -3px;
    position: relative
}

div#content ul.tagit li {
    margin: 2px 5px 1px 0
}

div#content .contacts-tags-edit ul.tagit {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e0e2e3
}

div#content .context-menu-selection {
    background-color: #2996cc !important
}

body #context-menu ul {
    border-radius: 4px
}

body #context-menu li a {
    color: #333
}

body #context-menu li:hover {
    background: #f2f4f5;
    color: #3d454c;
    border: 1px solid #f2f4f5;
    border-radius: 0
}

body #context-menu li:hover > a:not(.disabled) {
    color: #333
}

body #context-menu a.disabled, body #context-menu a.disabled:hover {
    color: #aaa
}

div.tooltip:hover span.tip {
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.ui-widget, .ui-widget button, .ui-widget input, .ui-widget select, .ui-widget textarea {
    font-family: SqMarket, "helvetica neue", helvetica, arial, sans-serif;
    font-size: 1em
}

.ui-widget input, .ui-widget select, .ui-widget textarea {
    font-size: 12px
}

.ui-widget-overlay {
    background: #000;
    filter: alpha(Opacity=60);
    opacity: .6
}

div.modal {
    padding: 10px
}

.ui-dialog.modal .ui-widget-header {
    border: 0;
    background: #fafafa;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #3d454c;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    border-bottom: solid 1px #ced4d9;
    margin: -10px -10px 5px;
    border-radius: 0
}

.ui-datepicker .ui-widget-header {
    background: #fff;
    border: 0;
    border-bottom: solid 1px #ced4d9;
    border-radius: 0;
    padding: 5px;
    margin: -1px
}

.ui-widget-content {
    background: #fff
}

.ui-datepicker .ui-datepicker-title select, .ui-widget-content input[type=text], .ui-widget-content select {
    font-size: 12px
}

.ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus, .ui-widget-header .ui-state-hover {
    background: #f2f4f5;
    color: #3d454c;
    border: 1px solid #f2f4f5;
    border-radius: 0
}

.ui-widget-header .ui-datepicker-title {
    color: #3d454c
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #f2f4f5
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #FFD5C9
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: #D2EEFF
}

.ui-widget-header .ui-icon-circle-triangle-e {
    background: url(../images/next.png) no-repeat
}

.ui-widget-header .ui-icon-circle-triangle-w {
    background: url(../images/prev.png) no-repeat
}

.ui-datepicker .ui-datepicker-next {
    top: 5px;
    right: 10px
}

.ui-datepicker .ui-datepicker-prev {
    top: 5px;
    left: 10px
}

.ui-datepicker th {
    color: #aaa;
    font-weight: 500
}

.ui-datepicker .ui-state-default {
    font-weight: 500;
    color: #333;
    border: 1px solid #fff;
    background: #fff
}

.ui-datepicker .ui-state-default:hover {
    background: #f6f6f6
}

.ui-datepicker .ui-state-active {
    background: #D2EEFF
}

.ui-datepicker .ui-state-highlight {
    color: #ff3b30
}

.ui-datepicker .ui-state-highlight:hover {
    background-color: #ffd8d6
}

#ui-datepicker-div {
    padding: 10px
}

.ui-datepicker .ui-datepicker-buttonpane {
    padding-top: .5em
}

.ui-datepicker .ui-priority-secondary, .ui-datepicker-week-col {
    color: #aaa
}

.ui-dialog .ui-dialog-titlebar-close {
    right: 1em;
    background: #fafafa;
    border: 0
}

.ui-widget-header .ui-icon.ui-icon-closethick {
    background: url(../images/close.png) no-repeat
}

.ui-widget-header .ui-state-hover .ui-icon.ui-icon-closethick {
    background: url(../images/close_active.png)
}

#ajax-modal p.buttons input, .details input[type=submit], .ui-datepicker .ui-datepicker-buttonpane button, input[type=submit], input[type=submit].button-small, input[type=submit].small, input[type=submit][name=continue], input[type=button] {
    color: #9da2a6;
    height: 32px;
    padding: 0 14px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #e0e2e3;
    font-size: 14px;
    background: #fafafa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, opacity .2s ease-in-out;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-weight: bold;
}

#ajax-modal p.buttons input[type=submit], .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close, input[type=submit] {
    background: #2996cc;
    border-color: transparent;
    color: #fff;
    background: url(https://www.nalog.ru/css/ul/i/btn_blue.png) bottom repeat-x #007dc5;
    font-weight: bold;
}

#ajax-modal p.buttons input[type=submit]:hover, .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close.ui-state-hover, input[type=submit]:hover {
    background: #3ba8de;
    color: #fff
}

#ajax-modal p.buttons input:hover, .details input[type=submit]:hover, .ui-datepicker .ui-datepicker-buttonpane button.ui-state-hover, input[type=submit].button-small:hover, input[type=submit].small:hover, input[type=submit][name=continue]:hover, input[type=button]:hover {
    background-color: #fff;
    -webkit-box-shadow: rgba(0, 0, 0, .08) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, .08) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, .08) 0 1px 1px;
    color: #3d454c;
    -webkit-transition-duration: .05s;
    -moz-transition-duration: .05s;
    -o-transition-duration: .05s;
    transition-duration: .05s
}

.details input[type=submit], .query-columns td.buttons input[type=button], .ui-datepicker .ui-datepicker-buttonpane button, input[type=submit].button-small, input[type=submit].small, input[type=button].small {
    height: 26px;
    padding: 0 13px;
    line-height: 23px;
    font-size: 12px
}

fieldset#filters td.values input, input[type=password], input[type=text] {
    padding: 1px 10px;
    background-color: #fff;
    color: #3d454c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    height: 22px;
    border: 1px solid #e0e2e3
}

fieldset#filters td.values input:focus, input[type=password]:focus, input[type=text]:focus, select:focus, textarea:focus {
    border-color: #2996cc;
    outline: 0
}

.box {
    padding: 15px;
    background: #e5f0fc;
    border: 0px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    z-index: 1;
    padding: 4px 30px 4px 10px;
    color: #3d454c;
    cursor: pointer;
    border: 1px solid #e0e2e3;
    background: url(../images/select.png) right no-repeat #fff;
    background-size: 18px 16px;
    text-indent: .01px;
    text-overflow: "";
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    height: 26px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    select {
        background: url(../images/select2x.png) right no-repeat #fff;
        background-size: 18px 16px
    }
}

@-moz-document url-prefix() {
    select {
        padding: 4px 0 4px 5px
    }
}

select::-ms-expand {
    display: none
}

select[multiple=multiple] {
    height: auto;
    background: #fff;
    padding: 5px 10px
}

.jstElements button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px
}

textarea {
    background-color: #fff;
    color: #3d454c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e0e2e3
}

input.hasDatepicker {
    padding-right: 25px
}

img.ui-datepicker-trigger {
    position: relative;
    margin-left: -26px;
    margin-right: 10px
}

input#content_comments, input#issue_subject {
    width: 97%
}

.contact-issues input#issue_subject {
    width: 93%
}

#content .tabs ul {
    border-bottom: 1px solid #ECECEC
}

#content .tabs ul li a {
    border: 1px solid #ECECEC;
    background-color: #ECECEC;
    border-radius: 0
}

#content .tabs ul li a.selected {
    border: 1px solid #ECECEC;
    border-bottom: 1px solid #FFF
}

#content .tabs ul li a.selected:hover {
    border-top: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC
}

#content .tabs ul li a:hover {
    border-top: 1px solid #ffd;
    border-left: 1px solid #ffd;
    border-right: 1px solid #ffd
}

#content .box .tabs ul li a.selected {
    background-color: #fafafa;
    border-bottom: 1px solid #fafafa
}

table.list tbody td, table.list tbody tr:hover td {
    border: 1px solid #d7d7d7
}

table.list thead th {
    border-width: 1px;
    border-style: solid;
    border-color: #d7d7d7
}

table.list td, table.list th {
    padding: 5px
}

table.list input[type=checkbox] {
    margin-top: 6px
}

table.list tbody tr:hover {
    background-color: #dfeff7
}

table.list tr.issue a {
    color: black
}

table.list tbody tr.odd.priority-highest:hover, tr.odd.priority-highest {
    color: #900;
    font-weight: 700
}

tr.odd.priority-highest {
    background: #FFE2E2
}

table.list tbody tr.even.priority-highest:hover, tr.even.priority-highest {
    color: #900;
    font-weight: 700
}

tr.even.priority-highest {
    background: #FAEFEF
}

tr.priority-5:hover a, tr.priority-highest a {
    color: #900
}

tr.even.priority-highest td, tr.odd.priority-highest td {
    border-color: #FDC9C9
}

table.list tbody tr.odd.priority-high4:hover, tr.odd.priority-high2 {
    color: #900
}

tr.odd.priority-high2 {
    background: #FFE2E2
}

table.list tbody tr.even.priority-high4:hover, tr.even.priority-high2 {
    color: #900
}

tr.even.priority-high2 {
    background: #FAEFEF
}

tr.priority-high2 a {
    color: #900
}

tr.even.priority-high4 td, tr.odd.priority-high2 td {
    border-color: #FDC9C9
}

table.list tbody tr.odd.priority-high3:hover, tr.odd.priority-high3 {
    color: #900
}

tr.odd.priority-high3 {
    background: #fee
}

table.list tbody tr.even.priority-high3:hover, tr.even.priority-high3 {
    color: #900
}

tr.even.priority-high3 {
    background: #fff2f2
}

tr.priority-high3 a {
    color: #900
}

tr.even.priority-high3 td, tr.odd.priority-high3 td {
    border-color: #fcc
}

table.list tbody tr.odd.priority-lowest:hover, tr.odd.priority-lowest {
    color: #559
}

tr.odd.priority-lowest {
    background: #eaf7ff
}

table.list tbody tr.even.priority-lowest:hover, tr.even.priority-lowest {
    color: #559
}

tr.even.priority-lowest {
    background: #f2faff
}

tr.priority-lowest a {
    color: #559
}

tr.even.priority-lowest td, tr.odd.priority-lowest td {
    border-color: #D2EAFA
}

div.contact, div.deal, div.issue, div.person {
    border: 0 !important;
    padding: 10px !important
}

table.progress td {
    padding: 0
}

div.details {
    padding: 20px !important
}

.clear_fix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

.border_box {
    box-sizing: border-box
}

.is_button {
    border: 1px solid transparent;
    border-radius: 4px
}

.is_button:hover {
    border: 1px solid #ccc
}

BODY, HTML {
    height: 100%
}

BODY #wrapper, HTML #wrapper {
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 52px;
    position: relative
}

BODY #footer, HTML #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box
}

BODY {
    min-width: 100%
}

#top-menu {
    height: auto;
    padding: 7px 0;
    position: relative;
}

#top-menu:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

#top-menu .overwidth {
    display: none
}

#top-menu .ellipsis {
    float: left;
    width: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 22px;
    line-height: 23px;
    opacity: .85
}

#top-menu .ellipsis:hover {
    opacity: 1
}

#top-menu .fmm_wrapper {
    float: left;
    height: 30px;
    width: 1px;
    position: relative;
    z-index: 11;
}

#top-menu .fmm_wrapper ul {
    position: absolute;
    top: 100%;
    left: -50px;
    background: #000
}

#top-menu .fmm_wrapper ul li {
    display: block;
    float: none
}

#top-menu .fmm_wrapper ul li a {
    display: block;
    padding: 5px 10px 5px 20px
}

#top-menu .header_elements {
    padding: 0
}

#top-menu .header_elements:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden
}

#top-menu .header_elements .burger_controller_wrapper {
    display: block;
    float: left;
    margin: 10px 0 10px 20px;
    width: 30px;
    height: 30px
}

#top-menu .header_elements .burger_controller_wrapper .burger_controller {
    display: block;
    width: 35px;
    height: 35px;
    background: url(../images/svg/burger_tm.svg) center center no-repeat;
    background-size: 28px 28px
}

#top-menu .header_elements.first_stage {
    height: 52px
}

#top-menu .header_elements.first_stage .burger_clone {
    margin: 12px 20px 0
}

#top-menu .header_elements.first_stage #loggedas {
    float: right;
    right: 130px;
    width: auto;
    text-align: right;
    margin: 12px 0 0 20px
}

#top-menu .header_elements.first_stage #account {
    float: right;
    right: 0;
    margin: 12px 0 0 20px
}

#top-menu .header_elements.first_stage #account ul {
    margin-top: 0
}

#top-menu .header_elements.first_stage #account ul:before {
    display: none
}

#top-menu .header_elements.first_stage #account ul li {
    float: left;
    border-bottom: none;
    border-top: none
}

#top-menu .header_elements.first_stage #account ul .search_controller_wrapper a {
    margin-right: 0
}

#top-menu .header_elements.first_stage #account a {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 30px;
    height: 30px;
    padding: 0
}

#top-menu .header_elements.first_stage #account .my-account {
    background: url(../images/svg/account.svg) center center no-repeat;
    background-size: 22px 22px
}

#top-menu .header_elements.first_stage #account .logout {
    background: url(../images/svg/logout.svg) center center no-repeat;
    background-size: 22px 22px
}

#top-menu .header_elements.first_stage #account .login {
    background: url(../images/svg/login.svg) center center no-repeat;
    background-size: 22px 22px
}

#top-menu .header_elements.first_stage #account .register {
    background: url(../images/svg/account.svg) center center no-repeat;
    background-size: 22px 22px
}

#top-menu .header_elements.first_stage #account .search_controller {
    background: url(../images/svg/search.svg) orange;
    background-size: cover
}

#top-menu .burger_clone {
    width: auto;
    height: auto;
    margin: 0 20px;
    float: left;
    display: block
}

#top-menu .burger_clone li {
    float: left;
    border: none
}

#top-menu .burger_clone li a {
    padding: 0
}

#top-menu .burger {
    width: 100%
}

#top-menu ul.burger {
    height: auto;
    overflow: hidden;
    position: relative
}

#top-menu ul.burger li {
    float: none;
    padding: 0;
    border-bottom: 1px solid #242424
}

#top-menu ul.burger li a {
    padding: 5px 20px;
    display: block
}

#top-menu .jumper_wrapper {
    display: block;
    float: right;
    margin: 20px 20px 0
}

#top-menu .jumper_wrapper select {
    max-width: 100%
}

#top-menu .mobile_search {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #FFF
}

#top-menu .mobile_search label {
    display: none
}

#top-menu .mobile_search input[name="q"] {
    padding: 4px 10px;
    border-radius: 6px
}

#top-menu .mobile_search input[type=submit] {
    background: url(../images/svg/search.svg) #2996cc;
    background-size: cover
}

#header {
    position: relative;
}

#header #quick-search.adapted {
    margin: 0;
    padding: 12px 15px 12px 5px;
    float: none;
    white-space: nowrap
}

#header #quick-search.adapted select {
    max-width: 50%
}

#header H1 {
    display: inline-block
}

#header #main-menu {
    height: auto;
    overflow: visible;
    padding: 0 15px;
    position: relative;
    box-sizing: border-box;
}

#header #main-menu .main_menu {
    overflow: hidden;
    margin-right: 60px
}

#header #main-menu ul {
    white-space: nowrap;
    padding: 0;
    font-size: 14px
}

#header #main-menu ul li {
    float: left
}

#header .overwidth {
    display: none
}

#header .mm_burger_caller {
    width: 40px;
    height: 40px;
    float: right;
    margin: 5px 0 5px 20px;
    cursor: pointer;
    background: url(../images/svg/burger_tm.svg) center center no-repeat;
    background-size: 25px 25px;
    opacity: .6
}

#header .mm_burger_caller.opened {
    opacity: 1
}

#header .mm_burger {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 11;
    background: #3d454c;
    overflow: hidden;
    height: 0
}

#header .mm_burger li {
    float: none !important;
    display: block;
    padding: 0
}

#header .mm_burger li a {
    padding: 12px 20px
}

#main {
    padding: 0;
    position: relative;
    overflow: hidden
}

#main #sidebar.opened .sidebar_closer {
    border-left: 1px solid #ECECEC;
    border-top: 1px solid #ECECEC;
    background-color: #FFF;
    cursor: pointer
}

#main .sidebar_closer {
    line-height: 50px;
    height: 50px;
    margin-left: -21px;
    padding-left: 21px;
    font-size: 13px;
    color: black;
    border-bottom: 1px solid #ECECEC;
    transition: .3s;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    background-image: url(../images/svg/sidebar_arrow_open.svg);
    background-position: 15px center;
    background-repeat: no-repeat;
    background-size: 20px 20px
}

#main #content {
    margin: 0;
    padding-right: 20px;
    box-sizing: border-box;
    border-right: 1px solid #ddd
}

#main #sidebar {
    overflow: visible;
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding-left: 20px
}

#main #sidebar .sidebar_wrapper {
    min-width: 600px
}

.sidebar_caller {
    position: fixed;
    bottom: 30px;
    right: -40px;
    width: 40px;
    height: 40px;
    z-index: 11;
    transition: .1s;
    background: url(../images/svg/sidebar_arrow_close.svg) center no-repeat #3d454c;
    background-size: 15px 15px;
    cursor: pointer
}

.sidebar_caller.opened {
    right: 0
}

@media screen and (max-width: 1000px) {
    .contextual {
        white-space: normal
    }

    .splitcontentleft, .splitcontentright {
        width: 100%;
        margin-bottom: 20px
    }
}

@media screen and (max-width: 600px) {
    select[name=project_quick_jump_box] {
        max-width: 60%
    }

    #content {
        overflow-x: scroll
    }
}